<h1>New Category</h1>
<form>
 <fieldset class="form-group">
    <label for="title">Title</label>
     <input class="form-control" type="text" id="title" name="title" ng-model="group.title" placeholder="eg: Barn, Garage, etc.">
    </fieldset>
    <fieldset class="form-group">
    <label for="content">Content</label>
     <input class="form-control" type="text" id="content" name="content" ng-model="group.content" placeholder=" eg: Valuables in/at Title">
    </fieldset>
    <fieldset class="form-group">
        <label for="icon">Icon:
        <span class="glyphicon glyphicon-{{group.icon}}"></span>
        </label>
      <select ng-model="group.icon" class="form-control" id="icon" ng-required="true">
        	<option value="th">General</option>
      		<option value="th-large">General-Large</option>
      		<option value="phone-alt">Office</option>      		
      		<option value="folder-open">Files</option>
      		<option value="wrench">Tools</option>
      		<option value="glass">Fragile</option>
      		<option value="music">Music</option>
      		<option value="film">Movies</option>
	  		<option value="cutlery">Kitchen</option>	
      		<option value="gift">Holiday</option>	  			
	  		<option value="tasks">Tasks</option>		
    		<option value="time">Time</option>
      		<option value="inbox">Inbox</option>
      		<option value="flag">Flag</option>
      		<option value="picture">Picture</option>
      		<option value="camera">Camera</option>
      		<option value="tree-conifer">Outdoors</option>
      </select>
    </fieldset>
    
    <input type="submit" value="Save" class="btn btn-info" ng-click="saveGroup(group)" ng-disabled="isSubmitting">
</form>