<div class="row">
<div class="col-md-9">
<h1>{{ appSettings.title }} <small>Get Organized</small> <a class="btn btn-default btn-sm pull-right" href=""><span class="glyphicon glyphicon-align-left"></span> New Project</a></h1>
<h5><span class="glyphicon glyphicon-tasks"></span> a web app by <mark>@ToddWebDev</mark></h5>
<h4>CATEGORIES <span class="badge">{{groups.length}}</span> <a class="btn btn-info btn-sm pull-right" href="#/new"><span class="glyphicon glyphicon-plus"></span> New Category</a> 
</h4>
    </div></div>


<!--Filter: <input type="text" ng-model="customerFilter.title" />
<br /><br /> 
<table>
 <!--   <tr>
        <th ng-click="doSort('title')">Name</th>
        <th ng-click="doSort('content')">Content</th>
        <th ng-click="doSort('price')">Total</th>
        <th ng-click="doSort('joined')">Icon</th>
        <th>&nbsp;</th>
    </tr>
    <tr ng-repeat="group in groups | filter:customerFilter | orderBy:sortBy:reverse">
        <td>{{ group.title }}</td>
        <td>{{ group.content }}</td>
        <td>{{ group.items.length }} | {{ group.categories.length }}</td>
        <td>{{ group.icon  }}</td>
        <td><a href="#/orders/{{ group.id }}">View Orders</a></td>
    </tr>
</table>
<br />  -->

<div class="container-fluid"  ng-repeat="group in groups" ng-show="groups.length">
<div class="row">
<div class="col-md-9 primary">
    <h1><sup ng-show="!group.items.length"><span class="badge">NEW</span></sup> {{group.title}} <span class="badge" ng-show="group.items.length">{{group.items.length}} items</span> <span class="badge" ng-show="group.categories.length">{{group.categories.length}} sub-categories</span><a class="btn btn-warning btn-xs pull-right" href="#/items/{{group.id}}/edit"><span class="glyphicon glyphicon-edit"></span>Edit</a></h1></div> 
    </div>
    <div class="row">
        <div class="col-md-9 secondary {{group.context}}"><h4><a ng-show="!group.items.length" class="btn btn-success btn-sm" href="#/items/{{ group.id }}/new"><span class="glyphicon glyphicon-{{group.icon}}"></span> Add Items</a> <a ng-show="group.items.length" class="btn btn-default btn-sm" href="#/items/{{ group.id }}"><span class="glyphicon glyphicon-{{group.icon}}"></span> View Items</a> {{group.content | uppercase}}{{group.value}}</h4></div>
    </div></div>

<footer><p>Version: {{ appSettings.version}}</p></footer>
