<div class="container-fluid">
<div class="row">
<div class="col-md-9 primary">
    <h2><span class="glyphicon glyphicon-{{group.icon}}"></span> {{ group.content | uppercase }} <!--Conditional Operator -->  <sup><span class="badge">{{group.items.length}}</span></sup>   <a class="btn btn-info btn-sm pull-right" href="#/items/{{group.id}}/new"><span class="glyphicon glyphicon-plus"></span> New Item</a></h2>
    <p><span class="glyphicon glyphicon-folder-open"></span> <a href="#/">Categories/</a><span class="badge">{{group.title}}</span></p>
</div>
<div class="col-md-3 primary fill hidden-xs"></div></div>
<div class="row">
<div class="col-md-9 {{group.context}}">
        <ul class="list-inline">
    	      	<li><h5><span class="no-show">Sort by: </span><select ng-model="orderProp">
				  	<option value="title">Alphabetical</option>
				  	<option value="price">Price: Low>High</option>
				  	<option value="-price">Price: High>low</option>
				  </select></h5></li>
				<li class="pull-right"><h5><span class="glyphicon glyphicon-search"></span> <input class="search" ng-model="query" placeholder="Search"></h5></li>
			  </ul>
<div class="col-md-6" ng-repeat="item in group.items | filter:query | orderBy:orderProp" ng-show="group.items.length">
			   <ul>
				<h4><span ng-show="item.favorite" class="glyphicon glyphicon-bookmark" aria-hidden="true"></span> {{item.title}}<span class="badge pull-right">{{item.qty}}</span></h4>
				  <blockquote>
					  <li class="stack clear-fix"><strong>Purchased on</strong> {{item.datePurch | date:'longDate'}}</li>
					  <li><strong>Price:</strong> {{item.price | currency}}</li>				
					  <li class="stack clear-fix"><strong>Est. Value:</strong> {{item.value | currency}}</li>
					  <li><strong>Description:</strong> {{item.desc}}</li>
				  </blockquote>
				  <li>
<div class="row">
<div class=" col-xs-6 col-md-6">
				 <button class="btn btn-success btn-xs btn-block" ng-click="item.favorite =!item.favorite" title="Mark as Favorite">
    <span class="glyphicon glyphicon-star" aria-hidden="true"></span></button><a class="btn btn-warning btn-xs btn-block" href="#/items/{{ group.id }}/edit/{{item.id}}" title="Edit Item"><span class="glyphicon glyphicon-edit"></span></a></div>
<div class="col-xs-6 col-md-6"><button class="btn btn-info btn-xs btn-block" ng-click="" title="Add Pictures">
				  <span class="glyphicon glyphicon-picture" aria-hidden="true"></span></button>
				  <form name="count" ng-submit="sorter.count(group)" class="no-form">
				  <button class="btn btn-danger btn-xs btn-block" ng-click="deleteItem(item.id)" title="Trash Item">
				  <span class="glyphicon glyphicon-trash" aria-hidden="true"></span></button>
    </form></div></div>
				  </li> 
                </ul>
    </div></div>
<div class="col-md-3 sub">
    <h2>Sub Categories <sup ng-show="group.categories.length"><span class="badge">{{group.categories.length}}</span></sup> <a class="btn btn-info btn-xs pull-right" href="#/subitems/{{group.id}}/new"><span class="glyphicon glyphicon-plus"></span> New</a></h2>
    <table class="table table-condensed" ng-repeat="category in group.categories">
        <tr><td><sup ng-show="!category.items.length"><span class="badge">NEW</span></sup> <span class="glyphicon glyphicon-{{category.icon}}"></span> {{ category.title }} | {{ category.location }}  <span ng-show="category.items.length" class="badge">{{category.items.length}} Items</span><a class="btn btn-warning btn-xs pull-right" href="#/subitems/{{group.id}}/edit/{{category.id}}"><span class="glyphicon glyphicon-edit"></span>Edit</a></td></tr>
    <tr><td><a ng-show="!category.items.length" class="btn btn-success btn-block btn-sm" href="#/items/{{ group.id }}/subitems/{{ category.id }}/new">Add Sub-Items</a><a ng-show="category.items.length" class="btn btn-info btn-block btn-sm" href="#/items/{{ group.id }}/subitems/{{ category.id }}">View Sub-Items</a></td></tr></table>
    </div>
    </div>
