<h2>{{ group.content }}</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Total</th>
    </tr>
    <tr ng-repeat="item in group.items">
        <td>{{ item.title }}</td>
        <td>{{ item.price | currency }}</td>
    </tr>
    
    <tr>	<th>Sub Categories</th>  </tr>
        <tr>
        <th>Name</th>
        <th>Location</th>
    </tr>
    <tr ng-repeat="category in group.categories">
	    <td>{{ category.title }}</td>
	    <td>{{ category.location }}</td>
	    <td>  <a href="#/subitems/{{ category.id }}">View Sub-Items</a></td>
    </tr>
    
</table>